.movie-entry {
  display: block;

  &::after {
    content: "";
    display: block;
    clear: both;
  }

  &__poster {
    width: 100%;
    height: 100%;
    font-size: 0.6em;

    &-wrapper {
      width: 42px;
      height: 60px;
      float: left;
      margin-right: 10px;
      overflow: hidden;
    }
  }

  &__title {
    margin: 0 0 5px 0;
    padding-top: 9px;
    font-size: 18px;
  }

  &__release {
    margin: 0;
    font-size: 16px;
    color: #adc4cc;
  }
}